.div-dropzone-wrapper {
  .div-dropzone {
    position: relative;

    .div-dropzone-hover {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -11.5px;
      margin-left: -15px;
      opacity: 0;
      font-size: 30px;
      transition: opacity 200ms ease-in-out;
      pointer-events: none;
    }

    .div-dropzone-spinner {
      position: absolute;
      bottom: 10px;
      right: 5px;
      opacity: 0;
      font-size: 20px;
      transition: opacity 200ms ease-in-out;
    }

    .div-dropzone-icon {
      display: block;
      text-align: center;
      font-size: inherit;
    }

    .div-dropzone-progress {
      position: absolute;
      top: 7px;
      left: -40px;
      width: 35px;
      font-size: 13px;
      text-align: right;
    }

    .dz-preview {
      display: none;
    }
  }
}

.div-dropzone-alert {
  margin-top: 5px;
  margin-bottom: 0;
  transition: opacity 200ms ease-in-out;
}

.md-header {
  .nav-links {
    a {
      width: 100%;
      padding-top: 0;
      line-height: 19px;

      &.btn.btn-sm {
        padding: 2px 5px;
      }

      &:focus {
        margin-top: -10px;
        padding-top: 10px;
      }
    }
  }
}

.md-header-tab {
  @include media-breakpoint-down(xs) {
    flex: 1;
    flex-direction: column;
    width: 100%;
    border-bottom: 1px solid $border-color;
    text-align: center;
  }
}

.nav-links {
  li.md-header-toolbar {
    margin-left: auto;
    display: none;
    padding-bottom: $gl-padding-8;

    &.active {
      display: block;

      @include media-breakpoint-down(xs) {
        flex: none;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: $gl-padding-8;
        width: 100%;
      }
    }
  }
}

.referenced-users {
  color: $gl-text-color;
  padding-top: 10px;
}

.referenced-commands {
  background: $blue-50;
  padding: $gl-padding-8 $gl-padding;
  border-radius: $border-radius-default;

  p {
    margin: 0;
  }
}

.md-preview-holder {
  min-height: 167px;
  padding: 10px 0;
  overflow-x: auto;
}

.markdown-area {
  border-radius: 0;
  background: $white;
  border: 1px solid $gray-50;
  min-height: 140px;
  max-height: 500px;
  padding: 5px;
  box-shadow: none;
  width: 100%;
}

.md-suggestion-diff {
  display: table !important;
  border: 1px solid $border-color !important;
  width: 100% !important;
  font-family: $monospace-font !important;
}

.md-suggestion-header {
  height: $suggestion-header-height;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $gray-light;
  border: 1px solid $border-color;
  padding: $gl-padding;
  border-radius: $border-radius-default $border-radius-default 0 0;

  svg {
    vertical-align: middle;
    margin-bottom: 3px;
  }
}

@include media-breakpoint-down(xs) {
  .referenced-users {
    margin-right: 0;
  }
}
